html, body, .container {
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  padding: 0;
  background: #f6f6f6;
}

.root {
  width: 100%;
  padding-bottom: 24px;
}

.topbar {
  width: 100%;
  height: 84px;
  background: #efefef;
  box-shadow: 0 3px 4px #ddd;
  font-size: 18px;

  a {
    font-family: Icons;
    position: absolute;
    right: 32px;
    top: 32px;
    color: #777;
    font-weight: bolder;
    transition: all .3s ease-out;

    &:after {
      content: "\f09b";
      margin-left: 12px;
      font-size: 28px;
    }

    &:hover {
      color: #444;
    }
  }
}

.body {
  width: 100%;
  padding: 24px;
}

.ui.card {
  width: 100%;
}
